@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    font-family: 'Poppins', sans-serif;

    background-image: url("splash.png");
    background-size: cover;
}

h1{
    font-weight: 200;
    font-size: 2.5rem;
}

.bluehead{
    color: #0018b4;
    font-size: 2.5rem;
    font-weight: 900;
    text-shadow: 2px 2px 0 #f5ea46;
    padding: 20px;
}

.ptag{
    color: rgb(39, 39, 39);
    font-weight: 300;
    padding: 0 5%;
}

.container{
    width: 90%;
    height: auto;
    background: #ffffff;
    border-radius: 15px;
    margin: 10% auto;
    padding: 50px 20px;
    border: 0;
    box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.479);
    position: relative;
    text-align: center;
    top: 10%;
}

        .whole{
            display: flex;
            flex-wrap: wrap;
            margin:auto;
            width: 100%;
            height: auto;
            justify-content: center;
        }
        .heading{
            color:blue ;
        }
        .history_content{
            flex: 70%;
            margin:auto;
            padding: 30px;
            color: #0018b4;
            position: relative;
            text-align: left;

        }
        .imageBox{
            flex:30%;
            margin:auto;
            box-sizing: border-box;
            padding: 10px;
            background-image: url(splash.png);
            background-size: cover;
            border-radius: 10px;
            box-shadow: 5px 5px 10px #0018b4;
        }

        @media screen and (max-width: 500px){
            .history_content{
                text-align: center;
            }
        }


        .bg{
            background-image: url(bg-ground.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }

        .header{
            /* background-image: linear-gradient(to right, #0018b4, #0018b45d); */
            background-image: linear-gradient(to right, #f5ea46, #f5e946a9);
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            padding-top: 10%;
            box-shadow: 0 10px 0 #0018b4;
        }


        .header h2{
            flex: 60%;
            color: #0018b4;
            font-size: 5vw;
            padding-top: 20px;
        }

        .logo{
            flex: 40%;
        }

        .learnmore{
    background-color: #f5ea46;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 10px #0018b4;
}

h1{
    color: #0018b4;
    font-weight: 100;
}

h1 span{
    font-weight: 900;
}

.btn{
    padding: 10px 30px;
    border: 3px solid #0018b4;
    border-radius: 15px;
    color: #0018b4;
    cursor: pointer;
    transition-duration: 0.5s;
}

.btn:hover{
    background-color: #0018b4;
    color: #f5ea46;
}



.email-to{
    text-decoration: none;
    width: 100%;
    position: relative;
    color:#3b3b3b
}

i{
    font-size: 40px;
    color: #0018b4;
}

@media screen and (max-width: 500px){
    .flex25{
        width: 100%;
        text-align: center;
    }
    .social-link{
        width: 100%;
    }
    .logo{
      display: block;
    }
}

.social {
    padding: 50px;
    text-align: center;
}

.social h3{
    font-weight: 100;
    font-size: 2em;
}

.social i{
    font-size: 2em;
    padding: 0 10px;
}

.learnmore{
    background-color: #f5ea46;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 10px #0018b4;
}

h1{
    color: #0018b4;
    font-weight: 100;
}

h1 span{
    font-weight: 900;
}

.btn{
    padding: 10px 30px;
    border: 3px solid #0018b4;
    border-radius: 15px;
    color: #0018b4;
    cursor: pointer;
    transition-duration: 0.5s;
}

.btn:hover{
    background-color: #0018b4;
    color: #f5ea46;
}

footer{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    background-color: #0018b4;
    color: white;
    font-size: 1rem;

}

footer i{
    color: white;
}

footer a{
    color: white ;
}

footer h4{
    color: #f5ea46;
    padding-bottom: 20px;
}

.flex25{
    flex: 25%;
    padding: 10px;
}

footer p{
    font-size: 12px;
}

.atag{
    text-decoration: none;
    color: white;
    padding: 12px;
}

span{
    display: inline-block;
}

.fab{
    font-size: 40px;
}

.social-link p{
    padding: 0 0 10px 10px;
    width: 80%;
}

@media screen and (max-width:500px){
    .flex25{
        width: 100%;
        text-align: center;
    }
    .social-link p{
        margin: 0 auto;
    }
}

@media screen and (max-width:500px){
.header h2{ display:none;
 }
.logo{
padding-bottom:10px;
}